
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");

.qp{
  height: 800px;
  background-color: white;
  background-image:  linear-gradient( #FAEE6D 0%, #FFFFFF 20%);
 
}

.logo{
    position: absolute;
width: 102px;
height: 66px;
left: 200px;
top: 34px;

}
.navbar{
    list-style: none;
    justify-self: end;
    
   
   
}
.navbar ul{
    position: absolute;
width: 54px;
height: 44px;
left: 1200px;
top: 300px;
display: flex;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 44px;
/* identical to box height, or 244% */

text-align: center;



    
}
.navbar li{
    position: relative;
    padding-left: 30px;
    right:200px;
    bottom: 250px;
   
}
.navbar .home{
    text-decoration: none;
    color:#1E1E1E;
}

.navbar .history{
    text-decoration: none;
    color:#1E1E1E;
}
.navbar .points{
    text-decoration: none;
    color:#1E1E1E;
}
.navbar .account{
    text-decoration: none;
    color:#1E1E1E;
}



.faq h1{
    position: absolute;
width: 396px;
height: 128px;
left: 150px;
top: 130px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 64px;
/* or 139% */


color: #000000;


}

.faq .accordion{
    display: flex;
flex-direction: column;
font-size: 1.2rem;

padding: 0px;

position: absolute;
width: 695px;
height: 667px;
left: 150px;
top: 350px;
filter: drop-shadow(0px 0px 14px rgba(113, 113, 113, 0.65));


}
.image .techi{
    position: absolute;
    width: 500px;
    height: 380px;
    left: 950px;
    top: 320px;
    
}
.text{
    position: absolute;
width: 401px;
height: 51px;
left: 990px;
top: 700px;

font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 32px;
/* or 178% */

text-align: center;

color: #212121;

}
.text .link{
    text-decoration: none;
}