@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  /*background-color: #e5e5e5;*/
}
.info8 {
 /* background-image: url("images/Frame\ 7.svg");
  background-repeat: no-repeat;*/
  background-color: white;
  /*background-image: linear-gradient(#faee6f, white);*/
}
nav {
  height: 205px;
  /*background-color: white;
  background-image: linear-gradient(#faee6f, white);*/

  list-style: none;
  justify-self: end;
  display: flex;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
nav .logo8 {
  position: absolute;
  width: 102px;
  height: 66px;
  left: 280px;
  top: 28px;
  background: rgba(33, 33, 33, 0, 8);
}
nav .logo8 p {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 4px;
  align-items: center;
}
nav .home8 {
  position: absolute;
  width: 55px;
  height: 44px;
  left: 1110px;
  top: 39px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  /* identical to box height, or 244% */

  text-align: center;

  color: #000000;
}
nav .history8 {
  position: absolute;
  width: 62px;
  height: 44px;
  left: 1219px;
  top: 39px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
  /* identical to box height, or 244% */

  text-align: center;

  color: #515151;
}
nav .points8 {
  position: absolute;
  width: 55px;
  height: 44px;
  left: 1336px;
  top: 39px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
  /* identical to box height, or 244% */

  text-align: center;

  color: #515151;
}
nav .account8 {
  position: absolute;
  width: 76px;
  height: 44px;
  left: 1446px;
  top: 39px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
  /* identical to box height, or 244% */

  text-align: center;

  color: #515151;
}
nav .photo8 {
  position: absolute;
  width: 61px;
  height: 61px;
  left: 1581px;
  top: 30px;

  /*background: url(.png);*/
}
nav .photo28 {
  position: absolute;
  width: 7.39px;
  height: 7.39px;
  left: 1629.68px;
  top: 26px;
}
form * {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #7a7a7a;
}
form .con18 {
  position: absolute;
  width: 587px;
  height: 781px;
  left: 275px;
  top: 216px;

  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

header {
  margin: 2% auto 10% auto;
  text-align: left;
}

header h3 {
  position: absolute;
  width: 300px;
  height: 128px;
  left: 66px;
  top: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 64px;
  color: #000000;
}
header h2 {
  position: absolute;
  width: 368px;
  height: 72px;
  left: 64px;
  top: 40px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;

  color: #1e1e1e;
}
nav .line8 {
  position: absolute;
  width: 478px;
  height: 0px;
  left: 34px;
  top: 165px;
}

label[for="source"] {
  position: absolute;
  width: 126px;
  height: 54px;
  left: 66px;
  top: 220px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;

  color: #1e1e1e;
}
label[for="destination"] {
  position: absolute;
  width: 207px;
  height: 54px;
  left: 66px;
  top: 372px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  color: #1e1e1e;
}
label[for="date"] {
  position: absolute;
  width: 86px;
  height: 54px;
  left: 66px;
  top: 523px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  color: #1e1e1e;
}

input[class="source8"] {
  position: absolute;
  width: 522px;
  height: 80px;
  left: 30px;
  top: 273px;
  padding-left: 90px;
  background: #ffffff;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 14px;
}
input[id="destination"] {
  position: absolute;
  width: 522px;
  height: 80px;
  left: 30px;
  top: 425px;
  padding-left: 90px;
  background: #ffffff;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 14px;
}
input[id="date"] {
  position: absolute;
  width: 311px;
  height: 80px;
  left: 30px;
  top: 576px;
  padding-left: 90px;
  background: #ffffff;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 14px;
}
div .calendar8 {
  position: absolute;
  left: 66px;
  top: 598px;
}
focus input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

nav .find_tickets8 {
  position: absolute;
  justify-content: center;
  width: 522px;
  height: 69px;
  left: 34px;
  top: 683px;
  color: #212121;
  background: linear-gradient(91.37deg, #f9ed69 0%, #b78e60 100%);
  box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

form .con28 {
  position: absolute;
  width: 727px;
  height: 781px;
  left: 700px;
  top: 4px;

  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

/*container 1*/

.con218 {
  position: absolute;
  width: 606px;
  height: 149px;
  left: 64px;
  top: 178px;

  background: #ffffff;
  box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
div .bangalore18 {
  position: absolute;
  width: 126px;
  height: 36px;
  left: 51px;
  top: 21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #1e1e1e;
}
div .chennai18 {
  position: absolute;
  width: 103px;
  height: 36px;
  left: 426px;
  top: 21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #1e1e1e;
}
div .march18 {
  position: absolute;
  width: 179px;
  height: 41px;
  left: 51px;
  top: 84px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */

  display: flex;
  align-items: center;

  color: #5c5c5c;
}
div .hr18 {
  position: absolute;
  width: 140px;
  height: 42px;
  left: 231px;
  top: 77px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */

  text-align: center;

  color: #1e1e1e;
}
div .jet18 {
  position: absolute;
  width: 112px;
  height: 35px;
  left: 426px;
  top: 86px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */

  display: flex;
  align-items: center;

  color: #5c5c5c;
}
div .ellipse13718 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: -10px;
  top: -15px;
}
div .line118 {
  position: absolute;
  width: 478px;
  height: 0px;
  left: 51px;
  top: 32px;
}
div .xs118 {
  position: absolute;
  width: 8.33px;
  height: 8.33px;
  left: 231px;
  top: 11px;
}
div .xs218 {
  position: absolute;
  width: 8.33px;
  height: 8.33px;
  left: 359.33px;
  top: 11px;
}

div .xs318 {
  position: absolute;
  width: 478px;
  height: 0px;
  left: 192px;
  top: 60px;
}
div .xs418 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 192px;
  top: 80px;
}
div .xs518 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 192px;
  top: 100px;
}
div .xs618 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 60px;
}
div .xs718 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 80px;
}
div .xs818 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 100px;
}
div .s118 {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 254.33px;
  top: 15px;
}
div .s218 {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 327.67px;
  top: 15px;
}
div .arr18 {
  position: absolute;
  width: 26.67px;
  height: 25px;
  left: 286px;
  top: 19px;
}
div .arrbox18 {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 570px;
  top: 44px;

  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

/*container2*/
.con228 {
  position: absolute;
  width: 606px;
  height: 149px;
  left: 64px;
  top: 370px;

  background: #ffffff;
  box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
div .bangalore28 {
  position: absolute;
  width: 126px;
  height: 36px;
  left: 51px;
  top: 21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #1e1e1e;
}
div .chennai28 {
  position: absolute;
  width: 103px;
  height: 36px;
  left: 426px;
  top: 21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #1e1e1e;
}
div .march28 {
  position: absolute;
  width: 179px;
  height: 41px;
  left: 51px;
  top: 84px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */

  display: flex;
  align-items: center;

  color: #5c5c5c;
}
div .hr28 {
  position: absolute;
  width: 140px;
  height: 42px;
  left: 231px;
  top: 77px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */

  text-align: center;

  color: #1e1e1e;
}
div .jet28 {
  position: absolute;
  width: 112px;
  height: 35px;
  left: 426px;
  top: 86px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */

  display: flex;
  align-items: center;

  color: #5c5c5c;
}
div .ellipse13728 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: -10px;
  top: -15px;
}
div .line128 {
  position: absolute;
  width: 478px;
  height: 0px;
  left: 51px;
  top: 32px;
}
div .xs128 {
  position: absolute;
  width: 8.33px;
  height: 8.33px;
  left: 231px;
  top: 11px;
}
div .xs228 {
  position: absolute;
  width: 8.33px;
  height: 8.33px;
  left: 359.33px;
  top: 11px;
}

div .xs328 {
  position: absolute;
  width: 478px;
  height: 0px;
  left: 192px;
  top: 60px;
}
div .xs428 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 192px;
  top: 80px;
}
div .xs528 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 192px;
  top: 100px;
}
div .xs628 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 60px;
}
div .xs728 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 80px;
}
div .xs828 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 100px;
}
div .s128 {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 254.33px;
  top: 15px;
}
div .s228 {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 327.67px;
  top: 15px;
}
div .arr28 {
  position: absolute;
  width: 26.67px;
  height: 25px;
  left: 286px;
  top: 19px;
}
div .arrbox28 {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 570px;
  top: 44px;

  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

/*container 3*/
.con238 {
  position: absolute;
  width: 606px;
  height: 149px;
  left: 64px;
  top: 562px;

  background: #ffffff;
  box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
div .bangalore38 {
  position: absolute;
  width: 126px;
  height: 36px;
  left: 51px;
  top: 21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #1e1e1e;
}
div .chennai38 {
  position: absolute;
  width: 103px;
  height: 36px;
  left: 426px;
  top: 21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #1e1e1e;
}
div .march38 {
  position: absolute;
  width: 179px;
  height: 41px;
  left: 51px;
  top: 84px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */

  display: flex;
  align-items: center;

  color: #5c5c5c;
}
div .hr38 {
  position: absolute;
  width: 140px;
  height: 42px;
  left: 231px;
  top: 77px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */

  text-align: center;

  color: #1e1e1e;
}
div .jet38 {
  position: absolute;
  width: 112px;
  height: 35px;
  left: 426px;
  top: 86px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */

  display: flex;
  align-items: center;

  color: #5c5c5c;
}
div .ellipse13738 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: -10px;
  top: -15px;
}
div .line138 {
  position: absolute;
  width: 478px;
  height: 0px;
  left: 51px;
  top: 32px;
}
div .xs138 {
  position: absolute;
  width: 8.33px;
  height: 8.33px;
  left: 231px;
  top: 11px;
}
div .xs238 {
  position: absolute;
  width: 8.33px;
  height: 8.33px;
  left: 359.33px;
  top: 11px;
}

div .xs338 {
  position: absolute;
  width: 478px;
  height: 0px;
  left: 192px;
  top: 60px;
}
div .xs438 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 192px;
  top: 80px;
}
div .xs538 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 192px;
  top: 100px;
}
div .xs638 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 60px;
}
div .xs738 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 80px;
}
div .xs838 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 394px;
  top: 100px;
}
div .s138 {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 254.33px;
  top: 15px;
}
div .s238 {
  position: absolute;
  width: 16.67px;
  height: 16.67px;
  left: 327.67px;
  top: 15px;
}
div .arr38 {
  position: absolute;
  width: 26.67px;
  height: 25px;
  left: 286px;
  top: 19px;
}
div .arrbox38 {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 570px;
  top: 44px;

  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

div .seemore8 {
  position: absolute;
  width: 86px;
  height: 22px;
  left: 235px;
  top: 168px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-align: center;

  color: #5cabf2;
}
div .seemorearr8 {
  position: absolute;
  width: 11px;
  height: 22px;
  left: 373px;
  top: 172px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-align: center;

  color: #5cabf2;

  transform: rotate(90deg);
}
